<!doctype html>
<html ng-app="videoApp">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Simple video hosting</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="/css/main.css">
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0/angular.min.js"></script>
	</head>
	<body ng-controller="VideoListController">

		<div class="container">
			<div class="header">
				<ul class="nav nav-pills pull-right">
					<li><a href="/signin">Sign in</a></li>
				</ul>
				<h2 class="text-info"><a href="/">Simple Video Hosting</a></h2>
			</div>

			<div class="jumbotron">
				<form role="form" name="uploadForm" ng-submit="uploadSubmit(uploadForm)">
					<div class="form-group">
						<input type="text" class="form-control" placeholder="Please enter the title of the video" ng-model="videotitle" required>
					</div>
					<div class="form-group">
						<input type="file" accept="video/*" ng-file-select="onFileSelect($files)" required>
					</div>
					<div class="form-group">
						<input type="submit" class="btn btn-primary" value="Upload">
						<span>{{ error.message }}</span>
					</div>
					<div class="progress" ng-show="uploading.isactive">
						<div class="progress-bar" role="progressbar" aria-valuenow="{{ uploading.percentage }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ uploading.percentage }}%;">
							{{ uploading.percentage }}%
						</div>
					</div>
				</form>
			</div>
			
			<div class="row" style="padding-bottom: 10px">
				<div class="col-sm-offset-8 col-sm-4">
					<input type="search" class="form-control" placeholder="Search for title or upload date" ng-model="videosearch">
				</div>
			</div>

			<div id="videos">
				<% videos.forEach(function(video) { %>
				<div class="img-thumbnail videoitem">
					<div class="text-info videotitle"><%= video.title %></div>
					<video class="img-responsive" controls preload="none">
						<source src="<%= video.file %>">
						Your browser does not support video element
					</video>
					<div class="text-muted videodate"><%= video.date %></div>
				</div>
				<% }) %>
			</div>

			<div id="novideos">
				<h3 class="text-muted">No videos found</h3>
			</div>
		</div>

		<script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
		<script src="/js/ng-fileupload/angular-file-upload.min.js"></script>
		<script src="/js/ng-fileupload/angular-file-upload-shim.min.js"></script>
		<script src="/js/index.js"></script>
	</body>
</html>