<!doctype html>
<html>
	<head>
		<title>Simple video hosting</title>
	</head>
	<body>
		<form action="/upload" enctype="multipart/form-data" method="post">
		    <input type="file" name="videofile" accept="video/*">
		    <input type="submit" value="Upload">
		    <span>Please don't upload big files.</span>
		</form><hr>
		<% videos.forEach(function(video) { %>
		<video controls>
			<source src="<%= video %>">
		</video>
		<% }) %>
	</body>
</html>